<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ajax</servlet-name>
    <servlet-class>org.jfw.web.servlet.core.FilenameConfigServlet</servlet-class>
    <init-param>
      <param-name>prefixLen</param-name>
      <param-value>6</param-value>
    </init-param>
    <init-param>
      <param-name>viewType</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>configFileName</param-name>
      <param-value>beanConfig.properties,project.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax</servlet-name>
    <url-pattern>/ajax/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.jfw.test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>